/* Base*/

body {
  width: 980px;
  background-color: #5BA3D6;
}

/* Layout*/

.container1 {
  /*margin: 20px 10px 0 20px;*/
  float: left;
}
.container2 {
  /*margin: 20px 10px 0 20px;*/
  float: left;
}

.container3 {
  /*margin: 20px 0 0 10px;*/
  float: right;
}

/* Modules*/
label {

}

/* State*/
