/* Base*/

body {
  background-color: #5BA3D6;
}

/* Layout*/

.container1 {
  width: 100px;
  margin-right: 100px;
  float: left;
}
.container2 {
  width: 100px;
  margin-left: 70px;
  float: left;
}
.clearfix {
  width: 100px;
  margin-left: 300px;
  float: right;
}
.container3 {
  width: 100px;
  margin-left: 50px;
  float: right;
}

/* Modules*/


/* State*/
